.trash { color:rgb(209, 91, 71); }

.addQuestionForm {
	padding: 15px;
	/*background: #D1E3F2;*/
	background: #DEF3E3;
	/*border: 1px solid #CACACA;*/
	margin-bottom: 10px;
}

.editQuestionForm {
	padding: 15px;
	/*background: #D1E3F2;*/
	background: #DEF3E3;
	/*border: 1px solid #CACACA;*/
	margin-bottom: 10px;
}
.addTopicForm {
	padding: 15px;
	/*background: #D1E3F2;*/
	background: #DEF3E3;
	/*border: 1px solid #CACACA;*/
	margin-bottom: 10px;
}

.editBackgroundForm {
	padding: 15px;
	/*background: #D1E3F2;*/
	background: #DEF3E3;
	/*border: 1px solid #CACACA;*/
	margin-bottom: 10px;
}

.flash {
	position:fixed;
	width:50%;
	z-index:4;
}

.topics-to-edit {
	display: block;
	font-style: italic;
	text-align:center;
}