<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid">
  <div class="row">
    <!-- sidebar content -->
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar"> <!-- put ng-repeat on here to nest menus for multiple q's per week -->
      <!-- <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}"> -->
        <li><a ng-href="/admin">Add a Topic</a></li>
        <li><strong>Click a Topic to Edit:</strong></li>
        <li ng-repeat="topic in topics" ng-class="{active: isActive(topic._id)}">
        <!--<a ng-href="{{topic.link}}">{{topic.title}}</a> -->
          <a ng-href="admin/editContent/{{topic._id}}">{{topic.title}}</a>
        <!--<a ui-sref="lessons.topics.{{topic._id}}">show the child view</a>-->
        </li>
      </ul>  
    </div>

    <!-- main content -->
    <div class="col-sm-9 col-sm-offset-3 col-mid-10 col-md-offset-2 main">
      <h1 class="page-header">Welcome to the Admin section for CSC 110: Intro to Programming</h1>
      <p>Click the links at left to edit a topic</p>
      <p>Add new topics below.</p>

      <div class="addTopicForm">
        <h2>Add a New Topic</h2>
        <form ng-submit="addTopic()">
            <div class="form-group">
                <label for="inputTopicTitle">Topic Title (will be displayed as a clickable link in student sidebar)</label>
                <input type="text" ng-model="newTopic.topicTitle" class="form-control" id="inputTopicTitle" placeholder="Title">
            </div>
            <div class="form-group">
                <label for="inputBackground">Topic Background</label>
                <text-angular ng-model="newTopic.topicBackground" placeholder="Add topic background info here"></text-angular>
                <!--<input type="text" class="form-control" ng-model="newTopic.topicBackground" id="inputBackground" placeholder="Topic Background">-->
            </div>
            <button type="submit" class="btn btn-success">Add Topic</button>
        </form>
      </div>




      <h2>Manage Users</h2>
       <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>

    <!--  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#showUsers">Show/Hide All Users</button><br \>-->
      <button type="button" class="btn btn-info" ng-model="collapseUsers" ng-click="collapseUsers=!collapseUsers" data-target="#showUsers">Show/Hide All Users</button><br>
      <div id="showUsers" ng-show="collapseUsers">
      
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="user in users">
            <strong>{{user.name}}</strong><br>
            <span class="text-muted">{{user.email}}</span>
            <span class="text-muted"> {{user._id}}</span>
            <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
          </li>
        </ul>
      </div>

    </div> <!-- end main content -->
  </div>
</div>