/**
 * App-wide Styles
 */


/* Move down content because we have a fixed navbar that is 50px tall */

body {
  padding-top: 50px;
}

.navbar-inverse {
  background: #594F4F;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  background-color: #547980;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
  color: #C3C3C3;
}

.nav-sidebar>.active>a, .nav-sidebar>.active>a:hover, .nav-sidebar>.active>a:focus {
  background-color: #45ADA8 !important;
}

a {
  color: #29807B;
}

a:hover, a:active, a:focus {
  color: #45ADA8;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: none;
}
