<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid">
  <div class="row">
    
    <!-- sidebar content -->
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
      	<li><a ng-href="/admin">Add a Topic</a></li>
        <li><strong>Click a Topic to Edit:</strong></li>
        <li ng-repeat="t in topicsEC" ng-class="{active: isActive(t._id)}">
        	<!--<a ng-show="ng-class=active"-->
        	<a ng-href="admin/editContent/{{t._id}}">{{t.title}}</a> 
        </li>
      </ul>  
    </div>

    <!-- main content -->
    <div class="col-xs-12 col-sm-10 col-sm-offset-3 col-mid-10 col-lg-offset-2 main">

        <!-- Topic title and edit title form -->
		<a ng-model="editTitle" ng-click="editTitle=!editTitle" class="editTopicTitle">
	  		<span style="font-size: 10pt" class="glyphicon glyphicon-pencil pull-right">Edit</span>
		</a>
		<h2 ng-hide="editTitle" class="page-header">{{topic.title}}</h2>
		<div ng-show="editTitle">
            <form class="form-inline" ng-submit="editTopic(); editTitle=!editTitle">
          		<div class="form-group">
                	<label for="editTopicTitleID">Edit Topic's Title:</label>
                	<input type="text" id="editTopicTitleID" class="form-control" ng-model="topic.title" placeholder="{{topic.title}}" autofocus>
          		</div>
          		<button type="submit" class="btn btn-primary">Update Title</button>
            </form>
      	</div>
        
      	<!-- Topic background and edit background form -->
		<a ng-model="editBackground" ng-click="editBackground=!editBackground" class="editTopicBackground">
			<span class="glyphicon glyphicon-pencil pull-right">Edit</span>
		</a>
		<div ng-hide="editBackground">
			<h4>Background: </h4><br>
			<div ng-bind-html="topic.background"></div>
		</div>
		<div ng-show="editBackground" class="editBackgroundForm">
			<form ng-submit="editTopic(); editBackground=!editBackground">
				<div class="form-group">
					<label for="editTopicBackground">Edit Background for topic {{topic.title}}:</label>
					<text-angular ng-model="topic.background"></text-angular>
				</div>
				<button type="submit" class="btn btn-primary">Update Background</button>
			</form>
		</div>
		<hr>

		<!-- List of current questions -->
        <h4>Questions:</h4><br>     
        <div ng-hide="topic.questions.length">
        	<span class="text-muted"><em>No questions added yet.</em></span>
        </div>
        <ul class="list-group">
      		<li class="list-group-item" ng-repeat="q in topic.questions">
                <strong>Question {{$index + 1}}:</strong>
                
                <!-- Edit Question/Delete Question Buttons -->
                <span class="pull-right">
              		<button type="button" class="btn btn-warning" ng-click="editQuestionToggle=!editQuestionToggle; populateEditQForm($index)" class="editQuestion">
              			Edit <span class="glyphicon glyphicon-pencil"></span>
              		</button>
              		<button type="button" ng-click="deleteQuestion(q._id, $index)" class="btn btn-danger">
             			Delete <span class="glyphicon glyphicon-trash"></span>
            		</button>
              	</span>

              	<!-- Question Instructions, starter code, hints etc -->
              	<div class="tab" ng-bind-html="q.instructions"></div>
	          	<div>
	              	<strong>Starter Code: </strong><br /><pre><span ng-bind-html="q.code"></span>	<br /></pre>
	              	<strong>Code is read-only?</strong> {{q.readOnly}}&nbsp&nbsp&nbsp&nbsp
	              	<strong>Class Name: </strong> {{ q.className }} 
	              		<span ng-hide="q.className" class="text-muted"><em>No class name given</em></span><br />
	              	<strong>Expected Output: </strong><br />
	              	<pre>{{q.expectedOutput}} 
	              		<span ng-hide="q.expectedOutput" class="text-muted"><em>No expected output given</em></span>
	              	</pre>
	              	<br />
	          	</div>
	          	
	          	<div><strong>Hints:</strong>        				
	              	<span ng-hide="q.hints.length" class="text-muted"><em>No hints added yet.</em></span>
	              	<div class="tab" ng-repeat="hint in q.hints">
	                	{{$index +1}}. {{hint}}
	            	</div>
	            </div>
            
            	<!-- Edit question form -->
        		<div class="editQuestionForm" ng-show="editQuestionToggle">
                    <form ng-submit="editQ(q._id, $index); editQuestionToggle=!editQuestionToggle">
                     	<div class="form-group">
                        	<label for="editQuestionInstructions">Edit question {{$index + 1}}:</label>
                        	<text-angular ng-model="questionToEdit.instructions" id="editQuestionInstructions"></text-angular>
                      	</div>

                      	<!-- Code editor and compile/run buttons & output boxes -->
                      	<div class="form-group">
                      		<div class="col-sm-8 vcenter">
								<label for="editor{{$index}}">
									Add Starter Code [optional]
	                        	</label>
	                        	<p>[Any code you enter here will appear in the student's code editor for this question]</p>
	                        	<div ng-model="questionToEdit.code" id="editor{{$index}}">{{questionToEdit.code}}</div>
							</div><!--
					    	--><div class="col-sm-4 vcenter">
					    			<label for="javaFileName">
					    				Please enter the name of your Java file (must match the class name in your code!):
					    			</label>
					    			<div class="input-group">
					  					<input type="text" class="form-control" placeholder="YourJavaFile" id="javaFileName" aria-describedby="basic-addon" ng-model="questionToEdit.className">
					  						<span class="input-group-addon" id="basic-addon">.java</span>
									</div>
					    		<hr>
								<div class="btn-group-vertical ace_lessons" role="group">
									<button type="button" class="btn btn-warning" ng-click="compileCode($index)">
										<span class="glyphicon glyphicon-flash"></span> Compile Code
									</button> 

									<button type="button" class="btn btn-success" ng-click="runCode($index)">
						        		<span class="glyphicon glyphicon-play"></span> Run Code
						    		</button>
					    		</div>
					    		<hr>
								<div class="btn-group-vertical ace_lessons" role="group">
									<div class="checkbox">
									    <label>
									      <input type="checkbox" ng-model="questionToEdit.readOnly" ng-click="toggleReadOnly($index)"> Check here to make code read-only
									    </label>
								  	</div>
									<!-- <button type="button" class="btn btn-primary" ng-click="checkAnswer()">
										Check My Answer <span class="glyphicon glyphicon-send"></span>
									</button> -->
								</div>
							</div>
                  	  	</div>
                  	  	<hr>

                  	  	<!-- Command line output divs -->
					    <div class="row">
					    	<hr>
					    	<div ng-model="showComments" ng-show="showComments" id="comments" class="feedback_section">
					    		<h4>{{ feedback }}
					    		<button type="button" class="close" ng-click="showComments=!showComments">&times;</button></h4>
					    	</div>
					        <div class="col-sm-6">	    		
					    		<div id="commandLineOutput" class="command_line_output_s compile">
					        		<h4 class="tab"> Compile Output:</h4>
					        		<pre>{{ compileOutput }}</pre>
					    		</div>
					        </div>
					        <div class="col-sm-6">	    
					   			<div id="commandLineOutput" class="command_line_output_s run">
					        		<h4 class="tab"> Run Output:</h4>
					        		<pre>{{ runOutput }}</pre>
					    		</div>	        
					        </div>
					    </div>

					    <!-- Code output box -->
					    <hr>
					    <div class="form-group">
							<label for="editExpectedOutputBox">Code's Output</label>
							<p>[Leave this blank if you are providing the code and would like students to guess the output]</p>
							<p>[If you are asking students to write code, fill in the output you wish their code to produce]</p>
							<textarea class="form-control" rows="3" id="editExpectedOutputBox" ng-model="questionToEdit.expectedOutput"></textarea>
						</div>
	                	<hr>

	                	<!-- Add/Remove Hints form -->
                  	  	<div class="form-group">
	                        <button type="button" class="btn btn-success" ng-click="addHintToExistingQ($index)">
                        		Add a hint to this question
                    		</button>                    		
                    		<div class="input-group" ng-repeat="hint in questionToEdit.hints track by $index">
					  			<input class="form-control" type="text" id="editHints" placeholder="Add hint {{$index + 1}} here." ng-model="questionToEdit.hints[$index]">
						  		<span class="input-group-btn">
						  			<button type="button" class="close" data-toggle="tooltip" data-placement="top" title="Delete this hint." ng-click="deleteHintFromExistingQ($index)">&times;</button>
						  		</span>
							</div>
                    	</div>
                      	<button type="submit" class="btn btn-primary">Update Question</button>
                    </form>
         		</div> <!-- end edit question div -->
        	</li> <!-- end individual question listings -->
    	</ul> 
              
		<!-- Add new question form -->
		<div class="addQuestionForm">
			<h4>Add a new question to topic <strong>{{topic.title}}</strong></h4>
			<form ng-submit="addQuestion()">
			    <div class="form-group">
			        <label for="inputQuestion">Question Instructions</label>
			        <text-angular ng-model="newQuestion.instructions" placeholder="Add question instructions here"></text-angular>
			    </div>
			    <button type="button" class="btn btn-success" ng-model="collapseCodeEditor" ng-click="focusEditor(); collapseCodeEditor=!collapseCodeEditor" data-target="#showCodeEditor">Show/Hide Starter Code Editor
			    </button><br\>
					
				<!-- Code editor and buttons -->
				<div id="showCodeEditor" ng-show="collapseCodeEditor">
					<br>
					<div class="row">
						<div class="col-sm-8 vcenter">
							<label for="inputCode">
								Add Starter Code [optional]
			            	</label>
			            	<p>[Any code you enter here will appear in the student's code editor for this question]</p>
							<div id="inputCode" class="ace_lessons" ng-model="newQuestion.code" ui-ace="{ onLoad: aceLoaded }" readonly></div>
						</div><!--
				    	--><div class="col-sm-4 vcenter">
				    			<label for="javaFile">
				    				Please enter the name of your Java file (must match the class name in your code!):
				    			</label>
				    			<div class="input-group">
				  					<input type="text" class="form-control" placeholder="YourJavaFile" id="javaFile" aria-describedby="basic-addon" ng-model="className">
				  						<span class="input-group-addon" id="basic-addon">.java</span>
								</div>
				    		<hr>
							<div class="btn-group-vertical ace_lessons" role="group">
								<button type="button" class="btn btn-warning" ng-click="compileCode(-1)">
									<span class="glyphicon glyphicon-flash"></span> Compile Code
								</button> 

								<button type="button" class="btn btn-success" ng-click="runCode(-1)">
					        		<span class="glyphicon glyphicon-play"></span> Run Code
					    		</button>
				    		</div>
				    		<hr>
							<div class="btn-group-vertical ace_lessons" role="group">
								<div class="checkbox">
								    <label>
								      <input type="checkbox" ng-model="newQuestion.readOnly" ng-click="toggleReadOnly(-1)"> Check here to make code read-only
								    </label>
							  	</div>
								<!-- <button type="button" class="btn btn-primary" ng-click="checkAnswer()">
									Check My Answer <span class="glyphicon glyphicon-send"></span>
								</button> -->
							</div>
						</div>
					</div>
					
					<!-- Command line output divs -->
				    <div class="row">
				    	<hr>
				    	<div ng-model="showComments" ng-show="showComments" id="comments" class="feedback_section">
				    		<h4>{{ feedback }}
				    		<button type="button" class="close" ng-click="showComments=!showComments">&times;</button></h4>
				    	</div>
				        <div class="col-sm-6">	    		
				    		<div id="commandLineOutput" class="command_line_output_s compile">
				        		<h4 class="tab"> Compile Output:</h4>
				        		<pre>{{ compileOutput }}</pre>
				    		</div>
				        </div>
				        <div class="col-sm-6">	    
				   			<div id="commandLineOutput" class="command_line_output_s run">
				        		<h4 class="tab"> Run Output:</h4>
				        		<pre>{{ runOutput }}</pre>
				    		</div>	        
				        </div>
				    </div>
				</div>
		    	<hr>

		    	<!-- Add new Q Expected Output box -->
		    	<div class="form-group">
					<label for="expectedOutputBox">Code's Output</label>
					<p>[Leave this blank if you are providing the code and would like students to guess the output]</p>
					<p>[If you are asking students to write code, fill in the output you wish their code to produce]</p>
					<textarea class="form-control" rows="3" id="expectedOutputBox" ng-model="newQuestion.expectedOutput"></textarea>
				</div>
		    	<hr>
			    
			    <!-- Add new Q Hints Form -->
			    <div class="form-group">
			        <button type="button" class="btn btn-success" ng-click="addHintToNewQ()">
			        	Add a hint to this question
			    	</button>                    		
			    	<div ng-repeat="hint in newQuestion.hints track by $index">
			        	<div class="input-group">
						 <!-- <label for="inputHints">Hint #{{$index + 1}}:</label> -->
						  <input class="form-control" type="text" placeholder="Add hint {{$index + 1}} here."ng-model="newQuestion.hints[$index]">
						  <span class="input-group-btn">
						  	<button type="button" class="close" ng-click="deleteHintFromNewQ($index)">&times;</button>
						  </span>
						</div>
					</div>
			    </div>
			    <button type="submit" class="btn btn-primary">Add Question</button>
			</form>
		</div>
   

      <hr>

    </div> <!-- end main content -->
  </div> <!-- end row -->
</div> <!-- end container -->

  <!-- the following 2 lines are wrong... shouldn't be here...  FIXME -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

