<!-- Question Tab's content -->
<div ng-show="isSet(1)">
  <div ng-repeat="q in topic.questions">
    <div ng-if="(qInfo.currentQuestion - 1) == $index">
      <!-- Question content -->
      <h4>Question {{ qInfo.currentQuestion }}</h4>
      <span class="pull-right">
	    		<div class="btn-group" role="group" aria-label="HelpSection">
		        	<button type="button" href="#" ng-click="showHint()" class="btn btn-sm btn-danger">
							<span class="fa fa-flag"></span> Hint
      </button>
    </div>
    </span>
    <br>
    <br>
    <div ng-bind-html="q.instructions"></div>

    <ul ng-show="hintRequested()" ng-repeat="hint in q.hints | limitTo: status[qInfo.currentQuestion - 1].hintIndex + 1">
      <li><strong>Hint:</strong>
        <div class="tab" style="white-space:pre-wrap;" ng-bind-html="hint"></div>
      </li>
    </ul>
    <p ng-if="hintRequested() && status[qInfo.currentQuestion - 1].hintIndex >= q.hints.length">{{noMoreHints}}</p>

    <!-- Code editor and buttons -->
    <div class="row">
      <div class="col-sm-12 vcenter">
        <div class="ace_lessons" ng-model="q.code" ui-ace="{ require: ['ace/search'], onLoad: aceLoaded }" style="font-size:1em"></div>
      </div>
      <!--
		    	-->
      <div class="col-sm-12 vcenter">
        <!-- show for questions requiring student to write code -->
        <hr>
        <div class="form-inline pt-2">
          <span ng-hide="q.readOnly">
            <div class="form-group">
              <div class="input-group" style="width: 300px;">
                <input type="text" class="form-control" placeholder="YourCFile" id="javaFile" aria-describedby="basic-addon" ng-model="output.className">
                <span class="input-group-addon" id="basic-addon">.c</span>
              </div>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-warning" ng-click="compileCode()"><span class="fa fa-flash"></span> Compile Code</button>
              <button type="button" class="btn btn-success" ng-click="runCode()"><span class="fa fa-play"></span> Run Code</button>
            </div>
          </span>
          <button type="button" class="btn btn-primary" ng-click="checkAnswer()">
  							Check My Answer <span class="fa fa-send"></span>
  						</button>
        </div>

        <!-- show for questions requiring students to guess the output of provided code -->
        <div ng-show="q.readOnly">
          <form>
            <label for="expectedOutputInputBox">
			    				Please enter your answer here:
		    				</label>
            <div class="form-group">
              <textarea class="form-control" rows="3" id="expectedOutputInputBox" ng-model="output.expectedOutput">
		    					</textarea>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Command line output divs -->
    <div class="row">
      <hr>
      <div ng-model="showComments" ng-show="showComments" id="comments" class="feedback_section">
        <h4>{{ feedback }}</h4>
      </div>
      <div ng-hide="q.readOnly" class="col-sm-6">
        <div id="commandLineOutput" class="command_line_output_s compile">
          <h4 class="tab"> Compile Output:</h4>
          <pre class="output">{{ output.compileOutput }}</pre>
        </div>
      </div>
      <div ng-hide="q.readOnly" class="col-sm-6">
        <div id="commandLineOutput" class="command_line_output_s run">
          <h4 class="tab"> Run Output:</h4>
          <pre class="output">{{ output.runOutput }}</pre>
        </div>
      </div>
    </div>
    <hr>

    <!-- Pagination buttons -->
    <div class="text-center">
      <pagination total-items="qInfo.totalQuestions" ng-model="qInfo.currentQuestion" ng-change="pageChanged()"></pagination>
    </div>
  </div>
  <!-- end current question  -->
</div>
<!-- end question content div -->
</div>
<!-- end question tab content -->
