<navbar></navbar>

<div class="container-fluid">
  <div class="row">
    <adminsidebar></adminsidebar>

    <div class="col-sm-9 col-md-10">
      <h2>Users</h2>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="user in users">
          <strong>{{user.displayName}}</strong><br>
          <span class="text-muted">{{user.firstName}} {{user.lastName}}</span>
          <span>&nbsp;</span>
          <span class="text-muted">CWL: {{user.uid}}</span>
          <span>&nbsp;</span>
          <span class="text-muted">Student #: {{user.studentNumber}}</span>
          <span>&nbsp;</span>
          <span>&nbsp;</span>
          <span class="text-muted">Role: {{user.role}}</span>
          <span>&nbsp;</span>
          <span class="text-muted">Account ID: {{user._id}}</span>
          <a ng-click="delete(user)" class="trash"><span class="fa fa-trash pull-right"></span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
