<!-- <div class="container">
	<div class="col-sm-3 col-md-2 sidebar" ng-controller="SidebarCtrl">
-->
	<!--	<ul class="nav nav-sidebar"> --> <!-- put ng-repeat on here to nest menus for multiple q's per week -->
			<!-- <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}"> -->
			<!--<li ng-repeat="topic in topics" ng-class="{active: isActive(topic._id)}"> -->
				<!--<a ng-href="{{topic.link}}">{{topic.title}}</a> -->
			<!---	<a ng-href="/lessons/topics/{{topic._id}}">{{topic.title}}</a> -->
				<!--<a ui-sref="lessons.topics.{{topic._id}}">show the child view</a>-->
			<!--</li>
		</ul>         --> 
<!--
	</div>
</div>
-->
