#chartContainer {
	width: 100%;
  height: 400px;
}

#loading {
  position: absolute;
  z-index: -1;
  top: 250px;
  left: 45%;
}

.btn-group {
	/*display: block;*/
}

svg.nvd3-svg {
	background-color: #fff;
}

.user-info {
	display:inline-block;
	width:250px;
	border: #bfbfbf solid 1px;
	padding:1%;
	border-radius:2px;
	margin:1%;
}