
<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container-fluid">
	<div class="row">

		<!-- sidebar content -->
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li><a ng-href="/admin/allQuestions">Manage all Questions</a></li>
				<li><a ng-href="/admin">Add a Topic</a></li>
				<li><strong>Click a Topic to Edit:</strong></li>
				<li ng-repeat="t in topicsEC" ng-class="{active: isActive(t._id)}">
					<!--<a ng-show="ng-class=active"-->
					<!-- <a ng-href="admin/editContent/{{t._id}}">{{t.title}}</a>  -->
					<a ng-href="admin/editContent/{{t.title}}">{{t.title}}</a> 
				</li>
			</ul>  
		</div>
		<div class="col-xs-12 col-sm-10 col-sm-offset-3 col-mid-10 col-lg-offset-2 main">

    
        <nvd3 options="options" data="data"></nvd3>
        <h3>Users selected:
        <small ng-show="selectedUsers.length > 0">{{selectedUsers.length}} users selected</small>
        </h3>
        <span ng-show="selectedUsers.length < 1">No users selected</span>
        <ul ng-show="selectedUsers.length > 0">
        <li ng-repeat="u in selectedUsers">{{u.key}}: {{u.values}}</li>
        <ul>


  <!-- <div class="btn-group">
	  <button ng-click="updateGraph('y', 'numRuns')" class="graph-button btn btn-default">y = num runs</button>
	  <button ng-click="updateGraph('y', 'numCompiles')" class="graph-button btn btn-default">y = num compile</button>
	  <button ng-click="updateGraph('y', 'totalAttempts')" class="graph-button btn btn-default">y = total attempts</button>
	  <button ng-click="updateGraph('x', 'question')" class="graph-button btn btn-default">x = question</button>
	  <button ng-click="updateGraph('x', 'user')" class="graph-button btn btn-default">x = user</button>
  </div> -->
  <div id="chartContainer">
</div>
		</div>
	</div>
</div>
