<navbar></navbar>

<div class="container-fluid">
  <div class="row">
    <!-- sidebar content -->
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <!-- put ng-repeat on here to nest menus for multiple q's per week -->
        <li ng-repeat="topic in topicsTC" ng-class="{active: isActive(topic.title)}">
          <!-- <a ng-href="lessons/topics/{{topic._id}}" ng-click="topicNav()">{{topic.title}}</a>  -->
          <a ng-href="lessons/{{topic._id}}" ng-click="topicNav()">{{topic.title}}</a>
        </li>
      </ul>
    </div>

    <!-- main content -->
    <div class="col-sm-9 col-md-10 main">
      <h1 class="page-header">{{topic.title}}</h1>

      <!-- Tabs Content-->
      <section>
        <ul class="nav nav-tabs">
          <li ng-class="{ active:isSet(1) }">
            <a href ng-click="setTab(1)">Questions</a>
          </li>
          <li ng-class="{ active:isSet(2) }">
            <a href ng-click="setTab(2)">Background</a>
          </li>
        </ul>
        <!--  Question Tab's Content  -->
        <question-instructions ng-show="isSet(1)"></question-instructions>

        <!--  Background Tab's Content  -->
        <background ng-show="isSet(2)"></background>
      </section>
    </div>
  </div>
</div>
</div>
